{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container flex-column pt-3">
    <section class="home-container text-center">
        <h1 class="main-title mx-auto">Find your perfect workout routine</h1>
        <p>The ultimate place to find your perfect workout routine.</p>
        <hr>
        <h1 class="text-center p2 mt-2">
            Latest Posts
        </h1>
        <hr class="short">
        <form method="get" action="{% url 'home' %}" class="search-filters gap-2 mt-3">
            <button type="submit" class="btn btn-outline-primary" name="focus" value="All">All</button>
            <button type="submit" class="btn btn-outline-primary" name="focus" value="general_fitness">General Fitness</button>
            <button type="submit" class="btn btn-outline-primary" name="focus" value="strength">Strength</button>
            <button type="submit" class="btn btn-outline-primary" name="focus" value="hypertrophy">Hypertrophy</button>
            <button type="submit" class="btn btn-outline-primary" name="focus" value="weight_loss">Weight Loss</button>
        </form>
    </section>
    <section>
        <hr class="long">
        <div class="container d-flex flex-row flex-wrap justify-content-center mb-3">
            {% for post in posts %}
                <a href="{% url 'post_detail' post.slug %}" class="posts" aria-label="Click to view {{post.title}}">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">{{post.title}}</h2>
                            <h3 class="card-subtitle mb-2 text-muted">{{post.author}}</h3>
                            <p class="card-text">{{post.excerpt|truncatechars:100}}</p>

                        </div>
                        <div class="card-footer">
                        <h4 class="card-focus">{{post.get_focus_display}}</h4>
                            <h5 class="card-created">Created on: {{post.created_on}}</h5>
                            </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <a href="{% url 'posts' %}" class="btn btn-primary w-25 mb-2 see-all">See All Posts</a>
    </section>
</div>
{% endblock %}