@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap');

:root {
    /* Fonts */
    --title: 'Shadows Into Light', 'serif';
    --main-font: 'Montserrat', 'serif';

    /* Colours */
    --background: #3E688C;
    --dark-blue: #010440;
    --green: #C5D932;
    --light-green: #D3D936;
    --dark-green: #575916;

    /* Utils */
    --small-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--title);
}

main{
    flex: 1 0 auto;
    background-color: var(--background);
}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-icon{
    height: 2rem;
    margin: 1rem;
}

/* Header */
.navbar {
    background-color: var(--background);
    box-shadow: var(--small-box-shadow);
    height: 8rem;
}

.navbar-nav .nav-item .nav-link.active{
    color: var(--light-green);
    border-bottom: 2px solid var(--light-green);
    font-weight: 500;
}

.transition-ease{
    transition: all 0.5s ease-in-out;
}

a.nav-link {
    color: var(--green);
    font-size: 120%;
    transition: all 0.5s ease-in-out;
}

a.nav-link:hover{
    color: white;
}

img.logo {
    width: 18.75rem;
    height: 4.5rem;
    object-fit: contain;
}

.btn-outline-success{
    color: black;
    font-size: 120%;
    background-color: var(--green);

}

.btn-outline-success:hover{
    background-color: var(--light-green);
    color: black;
    font-weight: 500;
}


/* Form */

.form{
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
    padding: 15px;
    background-color: white;
}

.auth-form{
    width: 50%;
    margin: 0 auto;
}

a{
    color: var(--dark-blue);
    transition: all 0.5s ease-in-out;
    
}

a:hover{
    color: var(--light-green);
    font-weight: 500;
}

/* Posts */

.card {
    height: 90%;
    margin-top: 1rem;
}

.posts {
    text-decoration: none;
    color: black;
}

.posts:hover{
    cursor: pointer;
}

.card-focus{
    text-align: center;
    border: var(--border);
    border-radius: 5px;
    background-color: var(--light-green);
}

.short {
    width: 33%;
    margin: 0 auto;
}