{% load static %}

<footer>
    <!-- Social media icons -->
     <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Facebook - Opens in a new tab">
        <img src="{% static '/icons/facebook-icon.svg' %}" alt="Facebook Icon" class="social-icon">
     </a>
     <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Instagram - Opens in a new tab">
        <img src="{% static '/icons/instagram-icon.svg' %}" alt="Instagram Icon" class="social-icon">
     </a>
     <a href="https://www.tiktok.com" target="_blank" rel="noopener" aria-label="Tiktok - Opens in a new tab">
        <img src="{% static '/icons/tiktok-icon.svg' %}" alt="Tiktok Icon" class="social-icon">
     </a>
     <a href="https://www.x.com" target="_blank" rel="noopener" aria-label="X - Opens in a new tab">
        <img src="{% static '/icons/x-icon.svg' %}" alt="X Icon" class="social-icon">
     </a>
     <a href="https://www.youtube.com" target="_blank" rel="noopener" aria-label="Youtube - Opens in a new tab">
        <img src="{% static '/icons/youtube-icon.svg' %}" alt="Youtube Icon" class="social-icon">
     </a>
</footer>