{% extends "base.html" %}

{% block title %}Delete Comment{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center pt-3">
        <form method="post" class="p-2 form text-center">
            <h1 class="text-center mt-2">Confirm Comment Deletion</h1>
            {% csrf_token %}
            <p>Are you sure you want to delete this comment?</p>
            <p class="lead"><strong>{{ comment.body }}</strong></p>
            <input type="submit" value="Confirm" class="btn btn-warning btn-lg">
            <a href="{% url 'post_detail' comment.post.slug %}" class="btn btn-secondary btn-lg">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
