{% extends "base.html" %}

{% block title %}Post Detail - {{post.title}}{% endblock %}

{% block content %}
<div class="container">
    <div class="post-info mt-3 p-1">
        <div class="post-detail">
            <h1 class="text-center">{{post.title}}</h1>
            <p class="text-center">Posted by {{post.author}} on {{post.created_on}}</p>
            <hr>
            <p><strong>Workout Focus: </strong>{{post.get_focus_display}}</p>

            {% if request.author == post.author %}
                <div class="text-center">
                    <a href="" class="btn btn-primary w-25">Edit</a>
                    <a href="" class="btn btn-primary w-25">Delete</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="post-container">
        <div class="content">
            <h2>Workout Details</h2>
            <p>{{post.content|safe}}</p>
        </div>
    </div>
</div>
{% endblock %}