{% extends "base.html" %}

{% block title %}Delete Post {{post.title}}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-2">Confirm Post Deletion</h1>
    <div class="d-flex justify-content-center-pt-3">
        <form method="post" class="p2 form text-center">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{post.title}}"?</p>
            <input type="submit" value="Confirm" class="btn btn-warning btn-lg w-25 mt-2">
            <a href="{% url 'posts' %}" class="btn btn-secondary btn-lg w-25 mt-2">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}