{% extends "base.html" %}

{% block title %}Post Detail - {{post.title}}{% endblock %}

{% block content %}
<div class="container">
    <div class="post-info mt-3 p-1">
        <div class="post-detail">
            <h1 class="text-center">{{post.title}}</h1>
            <p class="text-center">Posted by {{post.author}} on {{post.created_on}}</p>
            <hr>
            <p class="workout-focus text-center"><strong>Workout Focus: </strong>{{post.get_focus_display}}</p>

            {% if user.is_authenticated and post.author == user %}
                <div class="text-center">
                    <a href="{% url 'update_post' post.slug %}" class="btn btn-primary w-25 mb-2">Edit</a>
                    <a href="{% url 'delete_post' post.slug %}" class="btn btn-warning w-25 mb-2">Delete</a>
                </div>
            {% endif %} 
        </div>
    </div>
    <div class="post-container text-center">
        <div class="post-content">
            <h2>Workout Details</h2>
            <p>{{post.content|safe}}</p>
        </div>
    </div>
      <!-- Displaying Comments -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3>Comments:</h3>
      <div class="card-body">
        <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
        {% for comment in comments %}
        <div class="p-2 comments
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
          <p class="font-weight-bold">
            {{ comment.author }}
            <span class="font-weight-normal">
              {{ comment.created_on }}
            </span> wrote:
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.body | linebreaks }}
          </div>
          {% if not comment.approved and comment.author == user %}
          <p class="approval">
            This comment is awaiting approval
          </p>
          {% endif %}
          {% if user.is_authenticated and comment.author == user %}
          <button class="btn btn-warning w-15 mb-1"
          data-comment_id="{{ comment.id }}">Delete</button>
          <button class="btn btn-primary w-15 mb-1"
            data-comment_id="{{ comment.id }}">Edit</button>
          {% endif %}
        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>
        <!-- Creating New Comments -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
              {% if user.is_authenticated %}
              <h3>Leave a comment:</h3>
              <p>Posting as: {{ user.username }}</p>
              <form id="commentForm" method="post" action="{% url 'add_comment' post.slug %}"
                style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button id="submitButton" type="submit"
                  class="btn btn-primary btn-lg">Submit</button>
              </form>
              {% else %}
              <p>Log in to leave a comment</p>
              {% endif %}
            </div>
          </div>
  </div>
</div>
</div>
{% endblock %}