{% extends "base.html" %}

{% block title %}Posts{% endblock %}

{% block content %}
<div class="top-post-container mb-3 text-center">
    <h1 class="text-center p2 mt-2">
        Latest Posts
    </h1>
    <hr class="short">
    <form method="get" action="{% url 'posts' %}" class="search-filters gap-2 mt-3">
        <button type="submit" class="btn btn-outline-primary" name="focus" value="All">All</button>
        <button type="submit" class="btn btn-outline-primary" name="focus" value="general_fitness">General Fitness</button>
        <button type="submit" class="btn btn-outline-primary" name="focus" value="strength">Strength</button>
        <button type="submit" class="btn btn-outline-primary" name="focus" value="hypertrophy">Hypertrophy</button>
        <button type="submit" class="btn btn-outline-primary" name="focus" value="weight_loss">Weight Loss</button>
    </form>
</div>
<hr class="short">
<div class="container d-flex flex-row flex-wrap justify-content-center mb-3">
    {% for post in posts %}
        <a href="{% url 'post_detail' post.slug %}" class="posts {% if post.status == 0 and post.author == request.user %}faded-post{% endif %}" aria-label="Click to view {{post.title}}">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{post.title}}</h2>
                    <h3 class="card-subtitle mb-2 text-muted">{{post.author}}</h3>
                    <p class="card-text">{{post.excerpt|truncatechars:100}}</p>
                </div>
                <div class="card-footer">
                    <h4 class="text-center {% if post.status == 1 %}d-none{% endif %}{% if post.status == 0 and post.author == request.user %}d-block{% endif %}">Draft</h4>
                    <h4 class="card-focus">{{post.get_focus_display}}</h4>
                        <h5 class="card-created">Created on: {{post.created_on}}</h5>
                        </div>
            </div>
        </a>
    {% endfor %}
</div>
<div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary"> &laquo; PREVIOUS </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}